@font-face {
    font-family: "OverWatch";
    src: url("../fonts/koverwatch.ttf") format("truetype");
}

.leaguer-table {
    font-family: OverWatch;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.leaguer-table-column-tr {
    height: 90px;
    width: fit-content;
    font-size: 60px;
    border: 1px solid #000000;
}

.leaguer-table-column-th {
    border: 1px solid #000000;
}

.leaguer-table-tr {
    border: 1px solid #000000;
}

.leaguer-table-th {
    border: 1px solid #000000;
    padding: 8px;
    font-size: 1px;
}

.pagination-div {
    font-family: OverWatch;
    font-size: 20px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.pagination-ul {
    list-style: none;
    width: 100%;
}

.pagination-li {
    padding: 5px;
    display: inline;
}
