@font-face {
    font-family: "OverWatch";
    src: url("../fonts/koverwatch.ttf") format("truetype");
}

.background {
    font-family: OverWatch;
    width: 700px;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.profile-image {
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid black;
    border-collapse: collapse;
}

.detail-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.detail-table-tr {
    border: 1px solid black;
    padding: 8px;
}

.detail-table-th {
    border: 1px solid black;
    padding: 8px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 7px;
}
