.name {
    font-size: 30px;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.team {
    font-size: 20px;
}

.heroes {
    font-size: 20px;
}
