@font-face {
    font-family: "OverWatch";
    src: url("../fonts/koverwatch.ttf") format("truetype");
}

.div {
    font-family: OverWatch;
    font-size: 20px;
    width: 700px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.ul {
    list-style: none;
}

.li {
    border: #ffffff;
    border-width: 1px;
    float: left;
    margin-left: 20px;
}
