@font-face {
    font-family: "OverWatch";
    src: url("../fonts/koverwatch.ttf") format("truetype");
}

.ul {
    font-family: OverWatch;
    font-size: 20px;
    width: 700px;
    margin-top: 5px;
    list-style: none;
}

.li {
    padding: 4px;
    margin-left: 7px;
    border: #ffffff;
    border-width: 1px;
    float: left;
}
